<html>
<head>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script src='angular.min.js'></script>
<script src='players.js'></script>
<script>
angular.module('HelloWorldApp', [])
   .controller('HelloWorldController', function($scope) {
       	vm = this;
	vm.players =  players; 
	vm.tempSearchText = "";
	vm.searchText = "qwerty";	
});
</script>
</head>
<body>
	<div class="container" ng-app='HelloWorldApp'>	
		<div ng-controller='HelloWorldController as ctrl'>
			
			<!-- Players filter -->
			<div class="form-group">
				<div class="input-group input-group-lg">
					<!-- search text -->
				    <span class="input-group-addon"><i class="glyphicon glyphicon-filter"></i></span>					
				    <div class="icon-addon addon-lg">
					<input type="text" placeholder="Search" class="form-control" ng-model="ctrl.tempSearchText" id="player">
					<label for="player" class="glyphicon glyphicon-search" rel="tooltip" title="player"></label>
				    </div>
					<!-- search button -->
				    <span class="input-group-btn">
					<button class="btn btn-default" type="button" ng-click="ctrl.searchText = ctrl.tempSearchText">Go!</button>
				    </span>
				</div>	
			</div>

			<!-- Players Table --> 
			<div style="height: 300px; overflow-y: scroll;">
				  <table class="table table-striped">
				    <thead>
				      <tr>
					<th>Photo</th>
					<th>Name</th>
					<th>Value</th>
					<th>Overall</th>
					<th>Overall Prediction</th>			      
					<th>% Error</th>			      
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="p in ctrl.players | filter:{ Name: ctrl.searchText } | orderBy:'Name'">
					<td><img ng-src="{{p.Photo}}" /></td>
					<td>{{p.Name}}</td>
					<td>€ {{p.value}}</td>
					<td>{{p.Overall}}</td>
					<td>{{p.Overall_Prediction_RBF}}</td>
					<td>{{p.Error_Percentage}} %</td>
				      </tr>
				    </tbody>
				  </table>
			</div>
			
		</div>
	</div>
</body>
</html>
